* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: $primary-font;
  font-size: $px16;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

div#__nuxt,
#__layout,
#__layout > div {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

section {
  height: auto;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
