.frame {
  &--page {
    // (viewport from 0px)
    width: calc(100% - (1rem * 2));
    margin: 0 1rem;

    // (viewport from 768px)
    @media (min-width: $breakpoint-sm) {
      width: calc(100% - (2rem * 2));
      margin: 0 2rem;
    }

    // (viewport from 1024px)
    @media (min-width: $breakpoint-md) {
      width: calc(100% - (2.25rem * 2));
      margin: 0 2.25rem;
    }

    // (viewport from 1440px)
    @media (min-width: $breakpoint-lg) {
      width: calc(100% - (4rem * 2));
      margin: 0 4rem;
    }

    // (viewport from 1920px)
    @media (min-width: $breakpoint-xl) {
      width: 112rem;
      margin: 0 calc((100% - 112rem) / 2);
    }
  }
}
